kbd {
    padding: 0px 8px;
    margin-bottom: 0px;

    /* borda com a mesma cor do texto, e levemente mais grossa em baixo */
    border: 1px solid currentColor;
    border-bottom-width: 2px;

    font-family: var(--font-monospace); /* garantir que a fonte seja a monospaced */

    display: inline-flex;
}
