/* remove decoração de links externos no reading view */
.markdown-preview-view .external-link {
  text-decoration: none !important;
}

/* remove decoração de links internos no reading view */
.markdown-preview-view .internal-link {
  text-decoration: none !important;
}

/* remove decoração de links externos em live preview / source mode */
.markdown-source-view.mod-cm6 .cm-link .cm-underline,
.markdown-source-view.mod-cm6 .cm-url .cm-underline {
  text-decoration: none !important;
}

/* remove decoração de links internos em live preview / source mode */
.markdown-source-view.mod-cm6 .cm-hmd-internal-link .cm-underline {
  text-decoration: none !important;
}

/* algumas vezes tem underline mesmo pra links “markdown” no preview/rendered */
.markdown-rendered .internal-link {
  text-decoration: none !important;
}