.cm-header-1, .markdown-preview-view h1, h1 { color: #8A5CF5 !important; }
.cm-header-2, .markdown-preview-view h2, h2 { color: #F747C9 !important; }
.cm-header-3, .markdown-preview-view h3, h3 { color: #FF5B94 !important; }
.cm-header-4, .markdown-preview-view h4, h4 { color: #FF9167 !important; }
.cm-header-5, .markdown-preview-view h5, h5 { color: #FFC855 !important; }
.cm-header-6, .markdown-preview-view h6, h6 { color: #F9F871 !important; }